
@{
    ViewBag.Title = "_SearchRepoOnly";
}

<h3>GitHub Repository Information</h3>
<hr />
<div class="card text-white bg-dark mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p class="text-right">Total Result : <label id="lblCountSearchRepoOnly"></label></p>
            </div>
            <div class="col-12">
                <table class="table table-sm" id="tbRepoOnly">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width: 30%;">Reposity</th>
                            <th scope="col" style="width: 20%;">User</th>
                            <th scope="col" style="width: 20%;">Language</th>
                            <th scope="col" class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

